@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    background: #7db67d;
    font-family: 'Montserrat', sans-serif;
    color: rgb(13, 14, 14)
}

#contenedor{
    position: absolute;
    inset: 0;
    width: 60vw;
    height: 85vh;
    margin: auto;
    text-align: center;
    border: 3px solid rgb(36, 35, 36);
    border-radius: 65px;
    overflow: hidden;

}

#lista{
    text-align: left;
}
#calculadora{
    background: white;
    width: 50%;
    height: 100%;
    float: left;

}
#detalle{
    background: rgb(57, 46, 206);
    color: white;
    width: 50%;
    height: 100%;
    float: left;
}
.contenido{
    /* Estas tres lineas van a centrar el contenido verticalmente dentro de cada div */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 40px;
}
input {
	width: 70%;
    padding: 12px 15px;
    border: none;
    background-color: #eee;
}

button {
  font-size: 15px;
	font-weight: bold;
	padding: 12px 45px;
	border-radius: 30px;
	background-color: #27429c;
	border: 3px solid #080808;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 3px;
	transition: transform 20ms ease-in;
}

button:active {
	transform: scale(0.95);
}

#error{
    color: red;
    font-weight: bold;
    display: none;
}

.resultado{
    color: #227537;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
}